# Rstudio related
.Rproj.user
.DS_Store
.Rhistoryt
.Rhistory

# Quarto related
/.quarto/
/.venv/
/.condaenv/
*_cache/
/env/
_site/
/_freeze/
*.ipynb
/.luarc.json

# Nextflow related
.nextflow*
work/

# VS Code related
/.metals
.vscode/

# Viash related
bin/viash*

# Custom
/tmp
do_not_include/
/.luarc.json
