# Mac related
.DS_Store

# Rstudio related
.Rproj.user
.Rhistoryt
.Rhistory
.RData

# Quarto related
/.quarto/
/.venv/
/.condaenv/
*_cache/
/env/
_site/
/_freeze/
*.ipynb
/.luarc.json

# Nextflow related
.nextflow*
work/

# VS Code related
/.metals
.vscode/
/.luarc.json

# Custom
/tmp
do_not_include/
_old_guide
guide/_viash_project_template/
_src/rerender_site_versions/**/
