.step {
  padding-top: 20px;
  margin-bottom: 10px;
  margin-right: 70px;
}
.step h2 {
  border-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.step h4 {
  margin-top: 0;
}

.step #download-button {
  margin-top: 0;
  padding-top: 0;
}

.step .btn-action {
  font-size: 1.1em;
}

.step .btn-action svg {
  margin-top: 5px;
}

.step .table>:not(caption)>*>* {
  border-bottom-width: 0;
}

.tool {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  
}

.tool a[role="button"] {
  width: 100px;
  color: rgb(55, 58, 60);
  text-align: center;
  border: 1px solid rgb(222, 226, 230);
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 0.9em;
}

.tool .btn-outline-light:hover {
  border-color: rgb(80,146,221);
  background-color: transparent;
}

.tool a[role="button"] img {
  display: block;
  width: 77px;
  height: 77px;
  margin: auto;
  margin-bottom: 5px;
}



