```{=html}
<ul>
<% for (const item of items) { %>
  <% if (!item.hidden) { %>
    <li>
      <a href="<%- item.path %>"><%= item.title %></a>: <%= item.description %>
    </li>
  <% } %>
<% } %>
</ul>
```